<ul class="repo-list">
  {% for quest in site.data.quests %}
    {% if quest.featured %}
      <li>
        {% if quest.link %}
          <a class="repo-link" href="{{ quest.link }}" target="_blank" rel="noopener noreferrer">
            {% if quest.icon %}{% include logo.html name=quest.icon %}{% endif %}
            <span>{{ quest.name }}</span>
          </a>
        {% else %}
          <strong>{{ quest.name }}</strong>
        {% endif %}
        <p>{{ quest.description }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
