<aside id="secondary">
  <section class="side-block">
    <h3>About</h3>
    <p>Varun Choraria (VC) is an author, ex-founder of WiseWords Creative and speaker. Hobbies include: martial arts, bodybuilding, cycling and films.</p>
    <p>Currently, VC is the Senior Manager, Marketing at <a href="https://gtmbuddy.ai/">GTM Buddy</a> (Series A).</p>
    <p><a href="{{ '/about/' | relative_url }}">Read full bio</a></p>
  </section>

  <section class="side-block">
    <h3>Sections</h3>
    <ul>
      <li><a href="{{ '/blog/' | relative_url }}">Blog Archive</a></li>
      <li><a href="{{ '/tags/' | relative_url }}">Tags</a></li>
    </ul>
  </section>

  <section class="side-block">
    <h3>Elsewhere</h3>
    <ul>
      <li><a href="https://github.com/vcxcvii">Github</a></li>
      <li><a href="https://www.linkedin.com/in/varunchoraria/">LinkedIn</a></li>
      <li><a href="https://letterboxd.com/vcxcvii/films/">Movie Recommendations</a></li>
      <li><a href="https://www.youtube.com/@theedgepodcastforchros3212">The Edge Podcast for CHROs</a></li>
      <li><a href="https://www.youtube.com/@varunchoraria607/playlists">All talks</a></li>
    </ul>
  </section>
</aside>
